:root {
    /* Primary Palette */
    --color-primary: #FF2253;
    --color-primary-50: #FFE9EE;
    --color-secondary: #4ACA94;
    --color-secondary-50: #E4F7EF;

    /* Product Palette */
    --product-1: #EEF6FF;
    --product-2: #FFF7F4;
    --product-3: #FFE4EA;
    --product-4: #F3EEF5;

    /* Grey Scale Palette */
    --grey-1: #F8F9FA;
    --grey-2: #E9ECEF;
    --grey-3: #868E96;
    --grey-4: #212529;

    --white: #FFFFFF;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 375px;
    height: 1189px;
    background-color: var(--white);
    border-radius: 10px;
}

.logoContainer__logo {
    position: absolute;
    width: 123px;
    height: 46px;
    left: 17px;
    top: 21px;
}

.header__searchContainer {
    position: absolute;
    width: 343px;
    height: 54px;
    left: 17px;
    top: 82px;
}

.searchContainer__input {
    position: absolute;
    width: 343px;
    height: 54px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: var(--grey-1);
    border: 1.65px solid var(--grey-1);
    box-sizing: border-box;
    border-radius: 33px;

    font-size: 14px;
    line-height: 18px;
    color: var(--grey-3);
    padding-left: 15px;
}

.searchContainer__button {
    position: absolute;
    width: 44px;
    height: 44px;
    left: 85.21%;
    right: 1.93%;
    top: 10.2%;
    bottom: 8.16%;
    background-color: var(--color-primary-50);
    color: var(--color-primary);
    border: 1.65px solid var(--grey-1);
    box-sizing: border-box;
    border-radius: 50%;
}

.searchContainer__button:hover {
    background-color: var(--color-primary);
    color: var(--white);
    cursor: pointer;
}

.nav__filterContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    overflow: hidden;
    width: 511px;
    height: 40px;
    left: 18px;
    top: 153px;

    -webkit-overflow-scrolling: auto;
}

.btn__icon {
    position: relative;
    right: 10px;
}

.filterContainer__btn--todos,
.filterContainer__btn--panificadora,
.filterContainer__btn--frutas,
.filterContainer__btn--bebidas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 15px;
    margin: 0px 22px 0px 0px;
    box-sizing: border-box;
    border-radius: 30px;

    flex: none;
    flex-grow: 0;
}

.filterContainer__btn--todos {
    order: 0;
    width: 72px;
    background-color: var(--grey-1);
    border: 1.5px solid var(--grey-1);
}

.filterContainer__btn--panificadora {
    order: 1;
    width: 148px;
    background-color: var(--product-2);
    border: 1.5px solid var(--product-2);
}

.filterContainer__btn--frutas {
    order: 2;
    width: 108px;
    background-color: var(--product-3);
    border: 1.5px solid var(--product-3);
}

.filterContainer__btn--bebidas {
    order: 3;
    width: 118px;
    background-color: var(--product-4);
    border: 1.5px solid var(--product-4);
}

.filterContainer__btn--todos:hover,
.filterContainer__btn--panificadora:hover,
.filterContainer__btn--frutas:hover,
.filterContainer__btn--bebidas:hover {
    border: 1.5px solid var(--grey-4);
    cursor: pointer;
}

.section__productsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    width: 300px;
    height: 370px;
    left: 18px;
    top: 220px;
}

.aside__cartContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 342px;
    height: 499px;
    top: 616px;
    left: 18px;
}

.cartContainer__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 342px;
    height: 59px;

    font-weight: bold;
    font-size: 17px;
    line-height: 28px;
    background-color: var(--color-primary);
    color: var(--white);
    border-radius: 14px 14px 0px 0px;
    margin-bottom: 5px;
}

.cartContainer__header span {
    margin-left: 25px;
}

.fa-cart-arrow-down {
    margin-left: 25px;
}

.cartContainer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 342px;
    height: 432px;

    background-color: var(--grey-1);
}

.cartContainer__list span {
    width: 218px;

    text-align: center;
    color: var(--grey-3);
}

.cart__icon {
    margin-bottom: 25px;
}

.list--span1 {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 25px;
}

.list--span2 {
    font-size: 15px;
}